.button__login {
  width: 100%;
  min-height: 50px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #04c45c;
}

.button__signup {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 5px 5px 5px 33px;
  box-sizing: border-box;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  background-color: #2d3748;
}

.button__signup::after {
  content: '';
  position: absolute;
  left: 79px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/icon-google.png');

  @media (max-width: 659px) {
    left: 55px;
  }
}

.button__login:disabled,
.button__signup:disabled {
  opacity: 0.3;
  cursor: default;
}

.button__login:hover,
.button__signup:hover {
  opacity: 0.8;
  cursor: pointer;
}

.button__login:active,
.button__signup:active {
  opacity: 0.5;
}

.button__login:focus-visible,
.button__signup:focus-visible {
  outline: 3px solid #86b7fe;
}
