.form {
  width: 350px;
}

.form__buttons {
  display: flex;
  flex-direction: column;
}

.form__check-container {
  display: flex;
  justify-content: space-between;
}

.form__check-label {
  font-size: 14px;
  line-height: 16px;
}

.form__link {
  font-size: 14px;
  line-height: 16px;
  color: #2c5282;
  text-decoration: none;
}
