.input-checkbox {
  position: relative;
}

.input-checkbox:hover {
  cursor: pointer;
}

.input-checkbox:hover .input-checkbox__mark {
  opacity: 0.5;
}

.input-checkbox:focus-within .input-checkbox__mark {
  outline: 2px solid #2d3748;
}

.input-checkbox:active .input-checkbox__mark {
  opacity: 0.3;
  outline: none;
}

.input-checkbox__mark {
  position: absolute;
  top: 2px;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background-color: #f7fafc;
}

.input-checkbox__label {
  padding-left: 26px;
}

.input-checkbox__input:checked + .input-checkbox__mark::after {
  content: '';
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #2d3748;
}
