.input-email {
  position: relative;
}

.input-email__input {
  margin-bottom: 11px;
  padding: 10px 20px;
  min-height: 50px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.input-email__label {
  margin-bottom: 11px;
}

.input-email__alert {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 3px;
  font-size: 10px;
  line-height: 19px;
  opacity: 0.9;
  border-radius: 0;
}
