.page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1440px;
  min-height: 900px;

  @media (max-width: 1399px) {
    min-width: 660px;
    min-height: 100%;
  }

  @media (max-width: 659px) {
    min-width: 320px;
  }
}

.page-main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 720px;
  min-height: 900px;

  @media (max-width: 1399px) {
    min-width: 660px;
    min-height: 100%;
  }

  @media (max-width: 659px) {
    min-width: 320px;
  }
}

.page-main__img {
  display: block;
  @media (max-width: 1399px) {
    display: none;
  }
}
