.page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1440px;
  min-height: 900px;
}

.page-main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 900px;
}

.page-main__img {
  display: block;
}

.page-main__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #1A202C;
}
