@import '~bootstrap/scss/bootstrap';
@import './fonts.scss';
@import './components/page-main.scss';
@import './components/form.scss';
@import './components/button.scss';
@import './components/input-email.scss';
@import './components/input-password.scss';
@import './components/input-checkbox.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #2d3748;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.show {
  display: block;
}

.hide {
  display: none;
}