@import './fonts.css';
@import '~bootstrap/scss/bootstrap';
@import './components/page-main.css';
@import './components/form.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  object-fit: contain;
}
